<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
</head>

<body>

<div th:each="import: ${test}">
    <td><span th:utext="${import.getId()+' ' +import.getTitle()}"></span>  </td>
</div>


</body>
</html>